body{
  margin: 0;
  padding: 0;
  text-align: center;
}
#buttons {
  padding:auto 0;
  width: 40px;
  height: 40px;
}
#display {
  width: 100vw;
  height: 100px;
  margin: 0 auto;
  /* border: 1px solid gray; */
  font-size: 80px;
  text-align: center;
}
#pontuacao {
  text-align: center;
  font-size: 50px;
}
#botoes {
  border: 1px solid gray;
  width: 96vw;
  height: 200px;
  text-align: center;
  padding: 5px;
  margin-top: 30px;
}
button{
  width: 30px;
  height: 30px;
  margin: 2px;
}
