body{
  margin: 0;
  padding: 0;
  text-align: center;
}
#buttons {
  padding:auto 0;
  width: 40px;
  height: 40px;
}
#display {
  width: 100vw;
  height: 100px;
  margin: 0 auto;
  /* border: 1px solid gray; */
  font-size: 80px;
}
#pontuacao {
  font-size: 50px;
  margin-bottom: 60px;
}
#botoes {
  width: 96vw;
  height: 200px;
  text-align: center;
  padding: 1px;
  margin-top: 30px;
  padding-top: 20px;
}
button{
  width: 24px;
  height: 30px;
  margin: 1px;
  margin-bottom: 10px;
}
